* {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: black;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 23px;
    color: black;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: normal;
}

p, form {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: black;
}

#error, #fail {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: red;
}

#success {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: limegreen;
}

#view_results {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 80%;
}

#login {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 40%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

input[type=button], input[type=submit], input[type=reset] {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

.sidebar {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 230px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}